@model Shop.Domain.ViewModels.Account.ChangePasswordViewModel

@{
    ViewData["Title"] = "تغییر کلمه عبور";
}

<div class="container-main">
    <div class="d-block">

        <div class="col-lg">
            <div class="post-item-profile order-1 d-block">
                <div class="col-lg-3 col-md-3 col-xs-12 pr">
                    @await Component.InvokeAsync("UserSideBar")
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12 pl">
                    <div class="profile-content">
                        <div class="profile-stats">
                            <div class="profile-address">
                                <div class="middle-container">
                                    <form asp-area="User" asp-controller="Account" asp-action="ChangePassword" method="post" class="form-checkout">
                                        <div class="form-checkout-row">
                                            <label for="password">رمز عبور قبلی <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                                            <input asp-for="CurrentPassword" type="text" id="password" class="input-password-checkout form-control">
                                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>

                                            <label for="password">رمز عبور جدید <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                                            <input asp-for="NewPassword" type="text" id="password" class="input-password-checkout form-control">
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                            <label for="password">تکرار رمز عبور جدید <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                                            <input asp-for="ConfirmPassword" type="text" id="password" class="input-password-checkout form-control">
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            <div class="AR-CR">
                                                <button class="btn-registrar"> ثبت تغییرات </button>
                                                <a href="/User/" class="cancel-edit-address" data-dismiss="modal" aria-label="Close">بازگشت</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


