@using Shop.Application.StaticTools
@using Shop.Domain.Models.Account
@using Shop.Application.Extensions
@model User
<div class="sidebar-profile sidebar-navigation">
    <section class="profile-box">
        <header class="profile-box-header-inline">
            <div class="profile-avatar user-avatar profile-img">
                <img src="@( Model.UserAvatar =="default.png" ? PathsExtensions.UserDefaultOrigin : PathsExtensions.UserAvatarOrigin+Model.UserAvatar )">
            </div>
        </header>
        <footer class="profile-box-content-footer">
            <span class="profile-box-nameuser">@Model.GetUserName()</span>
            <span class="profile-box-registery-date">عضویت در سایت : @Model.CreateDate.ToStringShamsiDate()</span>
            <span class="profile-box-phone">شماره همراه :@Model.PhoneNumber</span>
            <div class="profile-box-tabs">
                <a asp-controller="Account" asp-action="Logout" class="profile-box-tab-sign-out">
                    <i class="mdi mdi-logout-variant"></i>خروج از حساب
                </a>
            </div>
        </footer>
    </section>
    <section class="profile-box">
        <ul class="profile-account-navs">
            <li class="profile-account-nav-item navigation-link-dashboard">
                <a asp-area="User" asp-controller="Home" asp-action="Index" class="active">
                    <i class="mdi mdi-account-outline"></i>
                    پروفایل
                </a>
            </li>
            <li class="profile-account-nav-item navigation-link-dashboard">
                <a href="#" class="">
                    <i class="mdi mdi-cart"></i>
                    همه سفارش ها
                </a>
            </li>
            <li class="profile-account-nav-item navigation-link-dashboard">
                <a href="#" class="">
                    <i class="mdi mdi-heart"></i>
                    لیست علاقه مندی
                </a>
            </li>
            <li class="profile-account-nav-item navigation-link-dashboard">
                <a href="#" class="">
                    <i class="mdi mdi-map-outline"></i>
                    آدرس ها
                </a>
            </li>
            <li class="profile-account-nav-item navigation-link-dashboard">
                <a href="#" class="">
                    <i class="mdi mdi-email-open-outline"></i>
                    نظرات
                </a>
            </li>
            <li class="profile-account-nav-item navigation-link-dashboard">
                <a asp-area="User" asp-controller="Account" asp-action="UserWallet" class="">
                    <i class="fa fa-exchange"></i>
                    لیست تراکنش
                </a>
            </li>
            <li class="profile-account-nav-item navigation-link-dashboard">
                <a asp-area="User" asp-controller="Account" asp-action="ChargeWallet" class="">
                    <i class="fa fa-credit-card"></i>
                    شارژ کیف پول
                </a>
            </li>
            <li class="profile-account-nav-item navigation-link-dashboard">
                <a asp-area="User" asp-controller="Account" asp-action="ChangePassword" class="">
                    <i class="fa fa-key"></i>
                    تغییر کلمه عبور
                </a>
            </li>
            <li class="profile-account-nav-item navigation-link-dashboard">
                <a asp-area="User" asp-controller="Account" asp-action="EditUserProfile" class="">
                    <i class="mdi mdi-tooltip-text-outline"></i>
                    اطلاعات حساب
                </a>
            </li>
        </ul>
    </section>
</div>