@model Shop.Domain.ViewModels.Admin.Products.FilterProductCategoriesViewModel

@if (Model.ProductCategories != null && Model.ProductCategories.Any())
{
    <li id="nav-menu-item" class="menu-item nav-overlay">
        <a href="#" class="current-link-menu">
            دسته بندی محصولات
            <i class="fa fa-angle-down"></i>
        </a>
        <ul class="sub-menu is-mega-menu mega-menu-level-two">

            <li class="menu-mega-item menu-item-type-mega-menu">
                <a href="#" class="mega-menu-link">
                    محصولات
                </a>
                <ul class="sub-menu mega-menu-level-three">
                    @foreach (var item in Model.ProductCategories)
                    {
                        <li class="menu-mega-item-three">
                            <a asp-area="" asp-controller="Product" asp-action="Products" asp-route-FilterByCategory="@item.UrlName">
                                @item.Title
                            </a>
                        </li>

                    }
                </ul>

            </li>



        </ul>
    </li>
}