@using Shop.Domain.ViewModels.Account
@model LoginUserViewModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "ورود";
}
@section Script {
    <partial name="_CaptchaScript"/>
    <partial name="_ValidationScriptsPartial" />
}
<div class="container">
    <div class="row">
        <div class="col-lg">
            <section class="page-account-box">
                <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                    <div class="ds-userlogin">
                        <a href="/" class="account-box-logo">digismart</a>
                        <div class="account-box">
                            <div class="account-box-headline">
                                <a asp-controller = "Account" asp-action="Login" class="login-ds active">
                                    <span class="title">ورود</span>
                                    <span class="sub-title">به فور یو</span>
                                </a>
                                <a asp-controller="Account" asp-action="Register" class="register-ds">
                                    <span class="title">ثبت نام</span>
                                    <span class="sub-title">در فور یو</span>
                                </a>
                            </div>
                            <div class="Login-to-account mt-4">
                                <div class="account-box-content">
                                    <h4>ورود به حساب کاربری</h4>
                                    <form asp-controller="Account" asp-action="Login" method="post" class="form-account text-right">
                                        <partial name="_CaptchaInput"/>
                                        <div class="form-account-title">
                                            <label for="email-phone">شماره موبایل</label>
                                            <input asp-for="PhoneNumber" type="text" class="number-email-input" id="email-phone">
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                        <div class="form-account-title">
                                            <label for="password">رمز عبور</label>
                                            <a href="#" class="account-link-password">رمز خود را فراموش کرده ام</a>
                                            <input type="password" class="password-input" asp-for="Password">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-auth-row">
                                            <label for="#" class="ui-checkbox mt-1">
                                                <input type="checkbox" value="true" asp-for="RememberMe" id="remember">
                                                <span class="ui-checkbox-check"></span>
                                            </label>
                                            <label for="remember" class="remember-me mr-0">مرا به خاطر بسپار</label>
                                        </div>
                                        <div class="form-row-account">
                                            <button class="btn btn-primary btn-login">ورود به فور یو</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>